body {
    font-family: 'Open Sans', sans-serif;
    background: #CCDDDD;
}

.container {
    max-width: 970px;
}

img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

a {
    color: #4A7B6F;
}

a:hover {
    color: #84596B;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    margin: 10px 0 20px;
}

.header {
    background: #fff;
    padding: 8px 15px;
    position: relative;
}

#logo {
    position: absolute;
    top: 0;
    /*left: 0;*/
    z-index: 9999;
    background: #fff;
    border-radius: 0 0 6px 6px;
    padding: 25px 10px 10px;
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

#sidebar {
    background: #CCDDDD;
    padding: 15px;
}

#sidebar a {
    color: inherit;
}

#sidebar a:hover {
    color: inherit;
}

#sidebar h4 {
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#sidebar ul {
    margin-bottom: 0;
}

#sidebar ul li a {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

h1 {
    margin: 0;
}

h1 a {
    color: #4A7B6F !important;
    text-decoration: none !important;
    font-family: 'Aclonica', sans-serif;
    font-weight: bold;
    font-size: 115%;
}

h1 i {
    color: #4A7B6F;
}

blockquote {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}

blockquote i.icon-quote-left {
    position: absolute;
    top: 10px;
    left: 7px;
}

blockquote i.icon-quote-right {
    position: absolute;
    bottom: 25px;
    right: 7px;
}

#content {
    padding-top: 30px;
}

.content {
    background: #fff;
    padding: 15px;
    margin-bottom: 5px;
}

.breadcrumb {
    background: none;
    margin-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

.btn [class^="icon-"], .btn [class*=" icon-"] {
    vertical-align: middle;
}

.btn {
    /*border-radius: 0;*/
}

/*.list-group-item {
    border-width: 0;
    border-radius: 0 !important;
}

.list-group-item:last-child {
    border-bottom: 0;
}

.list-group-item:first-child {
    border-top: 0;
}*/

h2 {
    font-size: 24px;
    /*text-transform: uppercase;*/
/*    border-bottom: 1px solid #eee;
    padding-bottom: 6px;*/
}

/*h2 span {
    border-bottom: 4px solid #4A7B6F    ;
    padding-right: 15px;
}*/

h4 {
    font-size: 18px;
    /*text-transform: uppercase;*/
/*    border-bottom: 1px solid #eee;
    padding-bottom: 13px;*/
}

/*h4 span {
    border-bottom: 4px solid #4A7B6F    ;
    padding-right: 15px;
    padding-bottom: 8px;
}*/

.navbar.navbar-inverse {
    border-radius: 0;
    background: #4A7B6F ;
    border: 0;
}

.navbar-inverse .brand, .navbar-inverse .nav>li>a {
    color: #fff;
    text-transform: uppercase;
    /*font-size: 13px;*/
}

.btn-info {
    background: #4A7B6F ;
    border-color: #4A7B6F   ;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active {
    background: #4A7B6F ;
    border-color: #4A7B6F   ;
}

#slider {
    background-color: #222222;
    color: #fff;
    /*box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);*/
    margin: 0 0 0;
}

#slider .slider-text {
    padding: 20px 15px;
    width: 300px;
    height: 240px;
    text-align: center;
}

#slider ul {
    margin-bottom: 0;
}

#slider .slider {
    position: relative;
    width: 700px;
    height: 240px;
}

#slider .slider li {
    position: absolute;
}

#slider .carousel {
    position: absolute;
    visibility: hidden;
}

#footer {
    font-size: 85%;
    background-color: #222222;
    color: #999999;
    padding-top: 20px;
}

#footer a {
    color: #fff;
}

#footer hr {
    border-top: 1px solid #181818;
    border-bottom: 1px solid #2c2c2c;
}

#galleryCarousel .carousel-wrap {
    overflow: hidden;
}

#galleryCarousel .carousel {
    list-style: none;
    padding: 0;
    overflow: hidden;
    margin: 0;
}

#galleryCarousel .carousel li {
    float: left;
}

#galleryCarousel .carousel li > .row > .col-md-4 {
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    #galleryCarousel .carousel li {
        width: 910px;
    }
}

@media (min-width: 992px) {
    #galleryCarousel .carousel li {
        width: 910px;
    }
}

@media (min-width: 1200px) {
    #galleryCarousel .carousel li {
        width: 910px;
    }
}

#galleryCarousel .carousel li a {
    display: block;
    text-decoration: none !important;
    color: inherit !important;
}

#galleryCarousel .carousel li a > div {
    padding: 5px 5px 10px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 10px;
}

#galleryCarousel .carousel li a:hover > div {
    background: #eee;
}

.media {
    padding: 5px 5px 5px;
    border: 1px solid #eee;
    border-radius: 4px;
    background: #fff;
    margin: 0 0 10px;
    display: block;
    color: inherit;
}

.media-heading {
    font-weight: bold;
}
