body {
    font-family: 'Open Sans', sans-serif;
    background: #dfdfdf;
    color: #666;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

a {
    color: #323e4e;
}

a:hover {
    color: #323e4e;
}

.header-outer, .content-header-outer, .value-outer, .footer-outer {
    background: #dfdfdf;
}

.content-outer {
    background: #ecebe9;
}

.header {
    background: #323e4e;
    padding: 30px;
}

.header a {
    color: #fff;
}

.content-header {
    background: #bed4df;
    padding: 30px;
    color: #fff;
}

.content-header h2 {
    color: #fff;
    margin-bottom: 0;
}

.sidebar {
    background: #f7f7f7;
    padding: 30px;
    margin: -30px 0 0 -30px;
}

.sidebar ul li {
    line-height: 2;
}

.sidebar .icon-muted {
    color: #dfdfdf;
}

.sidebar blockquote {
    border-color: #dfdfdf;
}

.content {
    background: #fff;
    padding: 30px;
}

.value {
    background: #ecebe9;
    padding: 30px;
}

.footer {
    background: #2d3032;
    padding: 30px;
    color: #fff;
}

.nav-pills>li>a {
    background: none !important;
    font-size: 16px;
    color: #bed4df;
}

.nav-pills>li>a:hover {
    color: #fff;
}

h1 {
    font-size: 30px;
    margin: 3px 0 0;
}

h2 {
    font-size: 24px;
    margin: 0 0 20px;
}

h3 {
    font-size: 18px;
    margin: 0 0 20px;

    padding-bottom: 10px;
    border-bottom: 5px solid #dfdfdf;
    text-transform: uppercase;
}
