<div id="slider">
    <div class="row">
        <div class="col-md-4" style="width: 300px;">
            <div class="slider-text">
                <p class="lead">{{ page.translation.sliderTitle }}</p>
                {{ page.translation.sliderContent }}
            </div>
        </div>
        <div class="col-md-8" style="width: 670px;">
            <ul class="slider list-unstyled">
                {% for image in page.images %}
                    <li><img class="hide" onload="nl(this);" src="{{ image.pathname('filename') }}" alt="0"></li>
                {% endfor %}
            </ul>
            <ul class="carousel list-unstyled">
                {% for image in page.images %}
                    <li></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
