<h4>Packages</h4>
<ul class="list-unstyled">
{% for package in packages %}
    <li><a href="{{ path('dog_main_package_show', {package: package.translation.slug}) }}">{{ package|truncate(20) }}</a></li>
{% endfor %}
</ul>
