{% extends 'DogMainBundle::layout.html.twig' %}

{% block title %}Testimonials{% endblock %}

{% block content %}
<ul>
{% for testimonial in testimonials %}
    <li><a href="{{ path('dog_main_testimonial_show', {testimonial: testimonial.slug}) }}">{{ testimonial }}</a></li>
{% endfor %}
</ul>
{% endblock %}

{% block breadcrumb %}
{% include 'DogMainBundle::breadcrumb.html.twig' with {crumbs: [
    {
        label: block('title')
    }
]} %}
{% endblock %}
