{% extends 'DogMainBundle::layout.html.twig' %}

{% block content %}
<p><img src="http://placekitten.com/g/970/485" alt="0"></p>
{% endblock %}

{% block sidebar %}
{{ render(controller('DogMainBundle:Testimonial:random')) }}
{% endblock %}
