{% extends 'DogMainBundle::layout.html.twig' %}

{% block title %}Services{% endblock %}

{% block content %}
<p>Pellentesque ut massa vitae tortor consequat adipiscing. Nunc consequat rutrum urna eu rhoncus. Aliquam erat volutpat. Aenean id nisl vel nisl sodales pharetra. Nam bibendum ipsum sed risus condimentum congue.</p>
<hr>
{#<ul class="icons-ul list-unstyled" style="font-size: 18px;">
{% for service in services %}
    <li><span class="icon-li icon-plus"></span><a href="{{ path('dog_main_service_show', {service: service.translation.slug}) }}">{{ service }}</a></li>
{% endfor %}
</ul>#}
{% for service in services %}
    {% if loop.index == 1 or loop.index % 2 == 1 %}<div class="row">{% endif %}
        <div class="col-md-6">
            <a{% if loop.index > services|length - 2 %} style="margin-bottom: 0;"{% endif %} class="cool" href="{{ path('dog_main_service_show', {service: service.translation.slug}) }}">
                <img src="http://placekitten.com/g/300/130" alt="0">
                <div class="parasite">
                    {{ service }}
                </div>
            </a>
        </div>
    {% if loop.index == services|length or loop.index % 2 == 0 %}</div>{% endif %}
{% endfor %}
{% endblock %}

{% block breadcrumb %}
{% include 'DogMainBundle::breadcrumb.html.twig' with {crumbs: [
    {
        label: block('title')
    }
]} %}
{% endblock %}

{% block sidebar %}dada{% endblock %}
